<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".ChImpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChImp"
        tools:targetApi="31">
        <activity android:name="pt.isel.chimp.about.AboutActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChImp">
        </activity>
        <activity
            android:name=".authentication.login.LoginActivity"
            android:exported="true"
            android:label="LoginActivity"
            android:theme="@style/Theme.ChImp" />
        <activity
            android:name=".authentication.register.RegisterActivity"
            android:exported="true"
            android:label="RegisterActivity"
            android:theme="@style/Theme.ChImp" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:label="ProfileActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="true"
            android:label="MenuActivity"
            android:theme="@style/Theme.ChImp"
            android:layoutDirection="ltr"
            />
        <activity
            android:name=".channels.channelsList.ChannelsListActivity"
            android:exported="true"
            android:label="ChannelsListActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".channels.createChannel.CreateChannelActivity"
            android:exported="true"
            android:label="ChannelDetailsActivity"
            android:theme="@style/Theme.ChImp"
            />
    </application>

</manifest>