<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>

    <application
        android:name=".ChImpApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChImp"
        tools:targetApi="31">
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
        <activity android:name="pt.isel.chimp.about.AboutActivity" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChImp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.login.LoginActivity"
            android:exported="true"
            android:label="LoginActivity"
            android:theme="@style/Theme.ChImp" />
        <activity
            android:name=".authentication.register.RegisterActivity"
            android:exported="true"
            android:label="RegisterActivity"
            android:theme="@style/Theme.ChImp" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="true"
            android:label="ProfileActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".menu.MenuActivity"
            android:exported="true"
            android:label="MenuActivity"
            android:theme="@style/Theme.ChImp"
            android:layoutDirection="ltr"
            />
        <activity
            android:name=".channels.channelsList.ChannelsListActivity"
            android:exported="true"
            android:label="ChannelsListActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".channels.createChannel.CreateChannelActivity"
            android:exported="true"
            android:label="ChannelDetailsActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".channels.channel.ChannelActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:label="ChannelActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".channels.channelInfo.ChannelInfoActivity"
            android:exported="true"
            android:label="ChannelInfoActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".channels.searchChannels.SearchChannelsActivity"
            android:exported="true"
            android:label="SearchChannelsActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity
            android:name=".invitationList.InvitationListActivity"
            android:exported="true"
            android:label="InvitationListActivity"
            android:theme="@style/Theme.ChImp"
            />
        <activity android:name=".channels.createInvitation.CreateInvitationActivity"
            android:exported="true"
            android:label="CreateInvitationActivity"
            android:theme="@style/Theme.ChImp"
            />

    </application>

</manifest>